
<!--     
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <form class="form-horizontal" [formGroup]="loginForm" (ngSubmit)="checkLogin(loginForm.value)">

        <div class="form-group">
          <div class="col-sm-12">
            <label for="email" class="control-label">Email</label>
            <input type="text" id="email" class="form-control" formControlName="email">
          </div>
        </div>
      
        <div class="form-group">
          <div class="col-sm-12">
            <label for="password" class="control-label">Password</label>
            <input type="password" id="password" class="form-control" formControlName="password">
          </div>
        </div>
      
        <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">
          Submit
        </button>
      
      </form> -->

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>



<div class="container" style="box-shadow: 0px 0px 0px">
  <div class="row">
    <div class="col-4 mx-auto login-sec">
      <h2 class="text-center">Login Into VBEASY</h2>
      <form class="login-form" [formGroup]="loginForm" (ngSubmit)="checkLogin(loginForm.value)">
        <div [(ngModel)]="serverError" class="alert alert-danger" *ngIf="serverError">Username/Password is not correct.</div>
          <div class="form-group">
            <label for="exampleInputEmail1" class="text-uppercase">Username</label>
            <input type="text" class="form-control" placeholder="" formControlName="email">
            <div class="alert alert-danger" *ngIf="!loginForm.controls['email'].valid && loginForm.controls['email']?.touched">Username field is required</div>
            </div>
            <div class="form-group">
            <label for="exampleInputPassword1" class="text-uppercase">Password</label>
            <input type="password" class="form-control" placeholder="" formControlName="password">
            <div class="alert alert-danger" *ngIf="!loginForm.controls['password'].valid && loginForm.controls['password']?.touched">Password field is required</div>
            </div>
          <div class="form-check">
            <label class="form-check-label">
            <input type="checkbox" class="form-check-input">
            <small>Remember Me</small>
            </label>
            <button type="submit" class="btn btn-login float-right" [disabled]="!loginForm.valid">Submit</button>
        </div>
      </form>
</div>
		<!-- <div class="col-md-8 banner-sec">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                 <ol class="carousel-indicators">
                   
                  </ol>
            <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <img class="d-block img-fluid" src="https://static.pexels.com/photos/33972/pexels-photo.jpg" alt="First slide">
      <div class="carousel-caption d-none d-md-block">
        
  </div>
    </div>
    <div class="carousel-item">
      <img class="d-block img-fluid" src="https://images.pexels.com/photos/7097/people-coffee-tea-meeting.jpg" alt="First slide">
      <div class="carousel-caption d-none d-md-block">
        <div class="banner-text">
            <h2>This is Heaven</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
        </div>	
    </div>
    </div>
    <div class="carousel-item">
      <img class="d-block img-fluid" src="https://images.pexels.com/photos/872957/pexels-photo-872957.jpeg" alt="First slide">
      <div class="carousel-caption d-none d-md-block">
        <div class="banner-text">
            <h2>This is Heaven</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
        </div>	
    </div>
  </div>
            </div>	   
		    
		</div>
	</div> -->
</div>